extends layout

block content
	h1= title
	p Welcome to #{title} heroku application
	h3#cpu Using #{usage.cpu}% of CPU.
	h3#mem Using #{usage.mem}% of Memory.
	

	| <script src="/javascripts/script.js"></script>