extends layout

block content
	h1= title
	p Welcome to #{title} heroku application
	h3#cpu Here will be CPU usage for 30 sec.
	h3#mem Here will be MEM usage for 30 sec.
	h6#db_change
	

	| <script src="/javascripts/jquery-2.1.4.min.js"></script>
	| <script src="/javascripts/script.js"></script>
